@media (min-width: 1200px) {
  .pc-cover {
    padding: 0 120px;
    box-sizing: border-box;
  }
  .logo {
    background-image: url(/nateolimg/toplogo.png);
    background-position: 0;
    position: fixed;
  }
  .toggle {
    display: none;
  }
  .nav-pc {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-left: auto;
    width: 70%;
    min-width: 780px;
  }
  .nav-pc a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: lighter;
    letter-spacing: 2.5px;
  }

  .nav-pc li a::after {
    content: "";
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: var(--color-yellow);
    position: relative;
    top: 1px;
    margin: 0 1.2em;
  }
  .card {
    position: relative;
  }
  .control {
    position: absolute;
    top: 45%;
    width: 100%;
  }
  .card-btn {
    width: 50px;
    height: 80px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
  }
  .prev {
    position: absolute;
    left: 0;
    background-image: url(/nateolimg/ar-left.png);
  }
  .next {
    position: absolute;
    right: 0;
    background-image: url(/nateolimg/ar-right.png);
  }

  .toggle-pc {
    background-image: url(/nateolimg/bar.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    color: transparent;
    cursor: pointer;
  }
  .inner-text {
    line-height: 300%;
  }
  .img-title {
    font-size: 3.3rem;
  }
  .img-text {
    font-size: 1.3rem;
  }
  .cover {
    padding: 3rem;
    padding-bottom: 4rem;
  }
  /* disney */
  .disney {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .cover {
    width: 100%;
  }
  .disney-item {
    width: calc(50% - 6px);
  }
  .card {
    padding-left: 3px;
    padding-right: 3px;
  }

  .disney-item:last-of-type {
    width: 100%;
  }
}
